{% extends "admin/admin.html" %}
{% block content %}
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
                <li class="active">添加标签</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加标签</h3>
                        </div>
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input_name">标签名称</label>
                                    <input type="text" class="form-control" id="input_name" placeholder="请输入标签名称！">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本</b> 1.0
        </div>
        <strong>版权 &copy; 2017-2018 归<a href="">xxx</a>.</strong> 所有
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="../static/admin/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="../static/admin/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../static/admin/plugins/fastclick/fastclick.js"></script>
<script src="../static/admin/dist/js/app.min.js"></script>
<script src="../static/admin/dist/js/demo.js"></script>
<script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="../static/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../static/admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>


</body>
</html>
{% endblock %}

{% block js%}
<script>
    $(document).ready(function(){
    $("#g-2").addClass("active");
    $("#g-2-1").addClass("active");
    });
</script>
{% endblock %}